@model TP1_Module06.Models.SamouraisViewModel
@using TP1_Module06.Helpers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.HiddenFor(model => model.Samourai.Id)

    @Html.Partial("_Samourai")

    @Html.CustomSubmit("Save")
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
